<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <title>Video Upload {% if title %}- {{ title }}{% endif %}</title>
    </head>
    <body>
        <header>
            <div class="header-left"><a href="{{ url_for('index') }}"><h1 class="header-left">Video Upload</h1></a></div>
            <div class="header-right"><a href="{{ url_for('upload') }}">Upload</a></div>
        </header>
        <div class="flashed-messages">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        {% block content %}{% endblock %}
    </body>
</html>